html {
  overflow: hidden;
  font-family: "Annie Use Your Telescope", cursive;
}

p{
  color: white;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: #2e2e33;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  overflow-y: hidden;
}

h1{
  font-size: 5vh;
  padding: 0;
  margin: 0;
}

#master {
  width: 100%;
  height: 88%;
  position: fixed;
  border-bottom-left-radius: 8vh;
  border-bottom-right-radius: 8vh;
  background-color: #000000;
  overflow-y: hidden;
}

#landing, #landing_bkg {
  display: flex;
  flex-direction: column;
  color: white;
  position: absolute;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  width: 100%;
  height: 100%;
  z-index: 12;
}

#landing{
  padding-left: 2vh;
  margin-right: 2vh;
}

#titulo_landing{
  margin-top: 15vh;
}

#descricao_landing{
  width: 45vh;
  font-size: 2.5vh;
}

.material-icons.icons {
  font-size: 5vh;
  color: #95a5a6;
}

.material-icons.icons_selected {
  font-size: 5vh;
  color: #006eff;
}

.material-icons.texto {
  vertical-align: middle;
  font-size: 3vh;
  color: #ffffff;
}

#title {
  font-size: 3vh;
  margin-top: 0;
}

#content {
  display: flex;
  width: 100%;
  justify-content: center;
  object-fit: contain;
  height: 100%;
  margin: auto;
  padding: 0;
  overflow: hidden;
}

#navbar {
  user-select: none;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12%;
}

#container {
  flex-wrap: wrap;
  padding-top: 5vh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: row;
  width: 50vh;
  display: flex;
  transition: transform 2.5s, filter 1.5s ease-in-out;
  filter: brightness(150%);
}

#container img {
  width: 100%;
  height: 88%;
  object-fit: contain;
  overflow: hidden;
}

#quiz, #textos {
  display: none;
  color: white;
  opacity: 0;
  flex-direction: column;
  padding-top: 7vh;
  padding-left: 5vh;
  padding-right: 5vh;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: 100vh;
  overflow-y: auto;
  justify-items: space-between;
  background-color: black;
}

#textos > p{
  font-size: 3.5vh;
}

.combo {
  background-color: #2e2e33;
  height: 3vh;
  width: 5vh;
  font-size: 2vh;
  border: 0;
  color: white;
}

.opcao {
  margin: 2vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 7vh;
  align-items: center;
}

.sem_padding_margin{
  padding-bottom: 0;
  margin-bottom: 0;
}

.opcao > input {
  width: 5vh;
  height: 5vh;
}

.opcao > p, li {  
  color: white;
  font-size: 3.5vh;
}

ol{
  margin-left: 4vh;
}

.overlay {
  display: block;
  background-color: black;
  /* background-color: fuchsia; */
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  width: 7vh;
  height: 3vh;
  position: absolute;
  z-index: 2;
}

#opcao_1 {
  top: 44.2%;
  width: 15vh;
  height: 2vh;
  left: 0%;
}

#opcao_2,
#opcao_3,
#opcao_4,
#opcao_7,
#opcao_18,
#opcao_16 {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  width: auto;
  z-index: 2;
  height: auto;
  display: block;
  opacity: 1;
}

#opcao_2_1 {
  top: 51.1%;
  height: 2.5vh;
  left: 22.5%;
  width: 5.8vh;
}

#opcao_2_2 {
  top: 61.1%;
  left: 17%;
  height: 4vh;
  width: 8vh;
}

#opcao_3_1 {
  top: 58.1%;
  height: 2.3vh;
  left: 36%;
  width: 6vh;
}

#opcao_3_2 {
  top: 68.8%;
  height: 3vh;
  border-bottom-left-radius: 88%;
  left: 49%;
  width: 6vh;
}

#opcao_4_1 {
  top: 51.9%;
  height: 1.5vh;
  left: 33%;
  width: 6.2vh;
  transform: rotate(-36deg);
}

#opcao_4_2 {
  top: 82.1%;
  left: 50.8%;
  height: 1.3vh;
  width: 5vh;
  border-bottom-left-radius: 50%;
}

#opcao_5 {
  top: 60.5%;
  height: 3.2vh;
  left: 50%;
  width: 5.2vh;
}

#opcao_7_1 {
  top: 45.3%;
  height: 3.5vh;
  border-bottom-left-radius: 50%;
  left: 60%;
  width: 5.8vh;
}

#opcao_7_2 {
  top: 84.8%;
  left: 50.8%;
  height: 1.7vh;
  width: 7.1vh;
}

#opcao_8 {
  top: 57.8%;
  height: 2.7vh;
  left: 61%;
  width: 8vh;
}

#opcao_9 {
  top: 34.4%;
  height: 3vh;
  left: 69%;
  width: 7vh;
}

#opcao_10 {
  top: 27%;
  height: 2.5vh;
  left: 60%;
  width: 13vh;
}

#opcao_11 {
  top: 25.8%;
  left: 30%;
  width: 10.3vh;
  border-top-right-radius: 20%;
  border-bottom-right-radius: 20%;
}

#opcao_12 {
  top: 25.2%;
  height: 1.4vh;
  left: 61%;
  width: 6.8vh;
}

#opcao_13 {
  top: 21.4%;
  height: 3vh;
  left: 65.6%;
  width: 7.7vh;
}

#opcao_14 {
  top: 17%;
  height: 3.5vh;
  left: 70%;
  width: 9vh;
}

#opcao_15 {
  top: 17%;
  left: 34%;
  width: 5vh;
  height: 3.5vh;
}

#opcao_16_1 {
  top: 44.5%;
  width: 6vh;
  height: 2.5vh;
  left: 38.5%;
}

#opcao_16_2 {
  top: 61.2%;
  width: 8.5vh;
  width: 8.5vh;
  height: 4vh;
  left: 74.6%;
}

#opcao_17 {
  top: 76%;
  height: 1.8vh;
  left: 72.8%;
  width: 10vh;
}

#opcao_18_1 {
  top: 77%;
  width: 5vh;
  height: 1vh;
  left: 61.5%;
}

#opcao_18_2 {
  top: 77.7%;
  width: 3vh;
  height: 1vh;
  left: 61.5%;
}

#acerto_alert {
  opacity: 0;
  align-self: flex-end;
  position: absolute;
  top: 85%;
  height: 4vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
}

#fim_popup, #inicio_popup {
  display: none;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: center;
  background-color: #2e2e33;
  top: 50%;
  left: 50%;
  width: 70%;
  height: 40%;
  transform: translate(-50%, -50%);
  border-radius: 4vh;
  z-index: 14;
}

#fim_popup, #inicio_popup > p {
  font-size: 2.5vh;
}

#inicio_popup{
  display: flex;
  padding: 2vh 2vh;
  color: white;
}

#relogio {
  position: absolute;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vh;
  height: 8vh;
  border: 0.4vh solid #01ea77;
  border-radius: 100%;
  top: 80%;
  left: 8.5%;
  z-index: 10;
}

#relogio,
#relogio_upper > p {
  color: white;
  font-size: 3.4vh;
}

#relogio_upper {
  display: flex;
  opacity: 0;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 6vh;
  background-color: #2e2e33;
  z-index: 12;
}

#botao_iniciar,
#acerto_alert,
#botao_textos {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5vh solid;
  border-radius: 1vh;
  background-color: #000000;
  width: max-content;
  padding: 1vh 1vh;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#botao_iniciar {
  border-color: #01ea77;
  justify-content: center;
  width: 19vh;
}

#botao_iniciar > p{
  font-size: 3vh;
}

#botao_textos,
#botao_iniciar {
  cursor: pointer;
  height: 3vh;
}

#botao_textos {
  margin-top: 1vh;
  background-color: #2e2e33;
  border-color: #01ea77;
}

#botao_textos > p{
  font-size: 2.5vh;
  color: white;
}

#overlay {
  display: none;
  position: absolute;
  z-index: 13;
  opacity: 0;
  height: 100%;
  width: 100%;
  animation-fill-mode: both;
  animation-duration: 0.2s;
  background-color: #fe0000;
}

.material-icons.acerto,
#acerto_alert > p {
  color: white;
  padding: 0 0.5vh;
  font-size: 2.5vh;
}

.material-icons.fim_icon {
  color: white;
  font-size: 10vh;
}

@keyframes aparecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes bkg_escuro {
  from {
    background-color: #2e2e33;
  }

  to {
    background-color: #000000;
  }
}

@keyframes bkg_voltar {
  from {
    background-color: #000000;
  }

  to {
    background-color: #2e2e33;
  }
}

@keyframes acerto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes acerto_sumir {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes wallpaper {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}

@media screen and (orientation: landscape) {

  #landing{
    background-color: black;
  }

  #landing_bkg{
    display: none;
  }

}

@media screen and (orientation: portrait) {

  #landing, #landing_bkg{
    background-color: none;
  }

  #landing_bkg{
    left: 0%;
    top: 0;
    transform: scale(4);
    animation: go-back 40s infinite alternate;
    animation-name: wallpaper;
    filter: blur(0.3vh) brightness(55%);
  }
}
