html{
  overflow-y: hidden;
}

body {
  margin: 0;
  font-family: "Roboto";
  height: 100vh;
  background-color: #2e2e33;
  animation-duration: 1s;
  animation-fill-mode: forwards;  
  overflow-y: hidden;
}

h1 {
  font-weight: 300;
  color: #16a085;
  margin-top: 0;
}

strong {
  font-weight: 900;
  color: #1abc9c;
}

#master {
  width: 100%;
  height: 88%;
  position: fixed;
  border-bottom-left-radius: 8vh;
  border-bottom-right-radius: 8vh;
  background-color: #000000;
  overflow-y: hidden;
}

.material-icons.icons {
  font-size: 5vh;
  color: #95a5a6;
}

.material-icons.icons_selected {
  font-size: 5vh;
  color: #006eff;
}

#title {
  font-size: 3vh;
  margin-top: 0;
}

#content {
  display: flex;
  width: 90%;
  justify-content: center;
  height: 100%;
  margin: auto;
  padding: 0;
}

#navbar {
  user-select: none;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 12%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 5vh;
  flex-direction: row;
  transition: transform 2.5s, filter 1.5s ease-in-out;
  filter: brightness(150%);
}

#container img {
  width: 100%;
  height: 88%;
  object-fit: contain;
  overflow: hidden;
}

.overlay {
  display: block;
  background-color: fuchsia;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 1;
  width: 7vh;
  height: 3vh;
  position: absolute;
  z-index: 2;
}

#mao_direita{
  top: 67vw;
  width: 12vh;
  left:3.6vw;
}

#esquerdo{
  top: 20vw;
  left:58vw;
  width: 8vh;
}

#via_desc{
  top: 39vw;
  left:28vw;
  width: 10.2vh;
}

#via_asc{
  top: 41vw;
  height: 2vh;
  left:54.6vw;
  width: 12.5vh;
}

#tronco_cerebral{
  top: 52vw;
  height: 3vh;
  left:63vw;
  width: 6vh;
}

#neuronio_terc{
  top: 32.2vw;
  height: 3vh;
  left:59.6vw;
  width: 6.8vh;
}

#fibras_nervosas{
  top: 78vw;
  height: 2.5vh;
  left:20vw;
  width: 6.8vh;
}

#corno_dorsal{
  top: 92vw;
  height: 3.2vh;
  left:45vw;
  width: 5.2vh;
}

#talamo{
  top: 38vw;
  height:1.4vh;
  left:55vw;
  width: 6.8vh;
}

#cortex_cerebral{
  top: 26vw;
  left:31vw;
  width: 5vh;
  height:3.5vh;
}

#interneuronio{
  top: 115vw;
  height: 1.8vh;
  left:66vw;
  width: 10vh;
}

#trato_espino{
  top: 88vw;
  height: 2vh;
  left:54vw;
  width: 8vh;
}

#neurotrans{
  top: 67vw;
  width: 6vh;
  height: 2.5vh;
  left:35vw;
}


#acerto_alert {
  opacity: 0;
  align-self: flex-end;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5vh solid #01ea77;
  border-radius: 1vh;
  background-color: #000000;
  width: max-content;
  padding: 1vh 1vh;
  height: 4vh;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

#overlay {
  display: none;
  position: absolute;
  z-index: 999999;
  opacity: 0;
  height: 100%;
  width: 100%;
  animation-fill-mode: both;
  animation-duration: 0.2s;
  background-color: #fe0000;
}

.material-icons.acerto,
#acerto_alert > p {
  color: white;
  padding: 0 0.5vh;
  font-size: 2.5vh;
}

@keyframes aparecer {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes bkg_escuro {
  from {
    background-color: #2e2e33;
  }

  to {
    background-color: #000000;
  }
}

@keyframes bkg_voltar {
  from {
    background-color: #000000;
  }

  to {
    background-color: #2e2e33;
  }
}

@keyframes acerto {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes acerto_sumir {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}